@charset "UTF-8";
:root{
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: white;
}
#expression{
    height: 60px;
    width: 296px;
    color: gray;
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}
#table{
    margin-bottom: 0.67em;
    height: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
}
button{
    width: 68px;
    height: 39px;
    margin-bottom: 3px;
    font-weight: bold;
}